<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cards</title>
</head>

<body>
<div>
    <div class="row01">
        <div class="column01">
            <div>


                <div class="container">
                    <div class="heading">
                        Course List
                    </div>

                    <!--
                    <div>
                        <ol>

                            <li>
                              <button mat-raised-button (click)="openDialog()">Pick one</button>
                            </li>

                          </ol>

                    </div>-->

                    <div class="centering">
                        <div class="narrowed">
                            <div class="flex-it">
                                <mat-form-field class="example-form-field" appearance="fill"
                                                (keydown)="keyDownFunction($event)">
                                    <mat-label>Course designators</mat-label>

                                    <input matInput type="text" [(ngModel)]="courseFilter">
                                </mat-form-field>


                                <br>
                                <!--      <mat-form-field class="example-form-field" appearance="fill" (keydown)="keyDownFunction($event)">-->
                                <!--        <mat-label>Session</mat-label>-->

                                <!--        <input matInput type="text" [(ngModel)]="globalSession">-->
                                <!--      </mat-form-field>-->

                                <mat-form-field appearance="fill">
                                    <mat-label>Session</mat-label>
                                    <mat-select [(value)]="globalSessionKey">
                                        <mat-option *ngFor="let sesNum of storedSessionsKeys" [value]="sesNum">
                                            {{sesNum}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                                <!--    <button id="pleaseHelp" type="button" mat-button (click)="openHelpDialog()">-->
                                <!--      PLEASE HELP-->
                                <!--    </button>-->


                            </div>


                        </div>
                    </div>
                    <div class="centering">


                        <div class="narrowed">

                            <div *ngIf="errMessage" style="color:red">
                                {{ errMessage }}
                            </div>
                            <div>
                                <p>
                                    This app contains data from UofT's old Arts and Science timetable as well
                                    as a visual timetable. Access the updated version of this app <a href="https://icprplshelp.github.io/UofT-Timetable-Prototype-V2/">HERE</a>, which contains more faculities and information on each course.

                                </p>

                                <p>Search for a course designator (first 3 letters of a course code), or multiple
                                    seperated by commas,
                                    up to a maximum of four. There is no option to search an individual course or search
                                    by a course
                                    name, so this is the only way to do it. An example of a search entry would be
                                    <code>ENG, CHM, BIO</code>.</p>
                                <p>Here are some notes:</p>
                                <ul style="padding: 20px">
                                    <li>
                                        <a href="https://timetable.iit.artsci.utoronto.ca/">Source of course information</a>
                                    </li>
                                    <li>If you don&#39;t know what an icon does, hover over it to see what it means.
                                    </li>
                                    <li>Click on the <strong>top part (colored)</strong> of a course card to show its
                                        description.
                                    </li>
                                    <li>Click on the <strong>bottom part (white)</strong> of a course card to open up
                                        its timings.
                                    </li>
                                    <li><strong>AVOID SELECTING COURSES THAT END ON AN XX:30 - IT MAY CRASH THE
                                        TIMETABLE</strong></li>
                                    <li>Click on the checkbox on a timing to add the course into the timetable. You may
                                        add as many
                                        courses as you want.
                                    </li>
                                    <li>You <strong>CANNOT ADD COURSES THAT CONFLICT!!</strong> This app won&#39;t let
                                        you. This is due
                                        to technical reasons.
                                    </li>
                                    <li>Orange represents the F session, blue represents the S session, and purple
                                        represents the Y
                                        session code. You can see which sessions a course is offered on the middle left
                                        of a course card -
                                        look at those color strips. Hover over them if you want to know what they mean.
                                    </li>
                                    <li><strong>If the size of the timetable is too small, you can resize it by dragging
                                        on that box
                                        located on the bottom middle of your screen.</strong> The box with the two
                                        diagonal lines,
                                        specifically, if you&#39;re using windows.
                                    </li>
                                    <li><strong>This site MAY NOT be the most mobile friendly.</strong></li>
                                    <li>Reload the page to clear the timetable. There is NO WAY to save your timetable
                                        entries, so the
                                        best method of exporting is to take a screenshot.
                                    </li>
                                    <li>If you want to print this timetable, you should screenshot it, then print your
                                        screenshot. There
                                        is no option to print this timetable at the moment.
                                    </li>
                                    <li>This timetable is <strong>NOT ALWAYS UP TO DATE</strong> with the latest UofT A&amp;S
                                        course
                                        information. This timetable is accurate as of <strong>{{lastUpdateString}}.</strong>
                                    </li>
                                    <li>The following colors map to the following breath requirements:
                                        <ul style="padding: 20px; width: 160px">
                                            <li style="background-color:#d71a1a; ">
                                                <div style="color: white;">BR1 - RED</div>
                                            </li>
                                            <li style="background-color:#34e7ff">BR2 - BLUE</li>
                                            <li style="background-color:#ffd300">BR3 - YELLOW</li>
                                            <li style="background-color:#0ddc09">BR4 - GREEN</li>
                                            <li style="background-color:#bb4bff;">
                                                <div style="color: white;">BR5 - PURPLE</div>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>
                            </div>


                        </div>

                    </div>

                    <div class="centering">

                        <p>
                            <button id="basic" type="button" mat-stroked-button (click)="clicked()">
                                Search
                            </button>
                        </p>
                    </div>

                    <div class="cLevel" *ngFor="let cL of splitCourseList">

                        <div class="row" *ngIf="cL.length !== 0">
                            <div class="card" *ngFor="let course of cL"
                                 [style.min-width]="course.infoVisible ? 'max(40%, 177px)' : 'max(177px, 20%)'">
                                <div *ngIf="course.show">
                                    <div>

                                        <!--COURSE INFO-->
                                        <div class="card-header" [style.background-color]="course.levelColor"
                                             (click)="onCourseClicked(course)">
                                            <div style="position: relative">
                                                <div>
                                                    {{course.code}}</div>
                                            </div>

                                            <!--                              [style.border-right-color]="course.brqColor"-->


                                            <div *ngIf="course.hasOnline" class="online-bumper">
                                                <mat-icon [matTooltipShowDelay]="200" matTooltipPosition="left"
                                                          matTooltip="Has online lectures">wifi
                                                </mat-icon>
                                            </div>


                                            <div class="session-bumper">
                                                <div *ngIf="course.fallMeetings !== undefined"
                                                     [style.background-color]="'LightSalmon'"
                                                     class="session-square" [matTooltipShowDelay]="200"
                                                     matTooltipPosition="left"
                                                     matTooltip="offered in the fall">
                                                    <div class="fsy">F</div>
                                                </div>
                                                <div *ngIf="course.winterMeetings !== undefined"
                                                     [style.background-color]="'LightBlue'"
                                                     class="session-square" [matTooltipShowDelay]="200"
                                                     matTooltipPosition="left"
                                                     matTooltip="offered in the winter">
                                                    <div class="fsy">S</div>
                                                </div>
                                                <div *ngIf="course.yearMeetings !== undefined"
                                                     [style.background-color]="'MediumOrchid'"
                                                     class="session-square" [style.min-width]="'40px'"
                                                     [matTooltipShowDelay]="200"
                                                     matTooltipPosition="left" matTooltip="offered year-wide">
                                                    <div class="fsy">Y</div>
                                                </div>
                                            </div>
                                            <div class="brq-bumper">
                                                <div *ngFor="let brC of course.brColors" class="brq-square"
                                                     [style.background-color]="brC"
                                                     [style.height.%]="100/course.brColors.length"
                                                     [matTooltipShowDelay]="200"
                                                     matTooltipPosition="above"
                                                     matTooltip="{{course.breadthCategories}}">
                                                    <!--                                    THIS IS-->
                                                </div>
                                            </div>

                                        </div>
                                        <!--                          <div (click)="onCourseClicked(course)">-->
                                        <div class="card-body" (click)="openCourseDialog(course)">
                                            <p class="course-name">{{course.courseTitle}}
                                            </p>

                                            <!-- <p>2h/week</p> -->

                                            <div class="courseDescription" *ngIf="course.infoVisible">
                                                <div [innerHTML]="course.courseDescription"></div>

                                                <div *ngIf="course.prerequisite.length != 0">
                                                    <div class="prq" [matTooltipShowDelay]="200"
                                                         matTooltipPosition="left"
                                                         matTooltip="You must have taken these courses before taking this one">
                                                        Prerequisite
                                                    </div>
                                                    <div [innerHTML]="course.prerequisite"></div>
                                                </div>

                                                <div *ngIf="course.corequisite.length != 0">
                                                    <div class="prq" [matTooltipShowDelay]="200"
                                                         matTooltipPosition="left"
                                                         matTooltip="You must take these courses concurrently with this one, or have already passed them">
                                                        Corequisite
                                                    </div>
                                                    <div [innerHTML]="course.corequisite"></div>
                                                </div>

                                                <div *ngIf="course.recommendedPreparation.length != 0">
                                                    <div class="prq" matTooltipPosition="left"
                                                         [matTooltipShowDelay]="200"
                                                         matTooltip="You should, but are not required to take these courses before this one">
                                                        Recommended preparation
                                                    </div>
                                                    <div [innerHTML]="course.recommendedPreparation"></div>
                                                </div>

                                                <div *ngIf="course.exclusion.length != 0">
                                                    <div class="prq" matTooltipPosition="left"
                                                         [matTooltipShowDelay]="200"
                                                         matTooltip="If you've passed any of these courses, taking this course will cause it to be designated EXTRA. If you're concurrently taking any of them together, the course with the lower mark will be designated EXTRA. EXTRA does not count towards you GPA or the 20 credits needed to graduate.">
                                                        Exclusion
                                                    </div>
                                                    <div [innerHTML]="course.exclusion"></div>
                                                </div>
                                                <!-- PASS IN course.meetings -->
                                                <!--                                  <button id="third" type="button" mat-button (click)="openCourseDialog(course)">-->
                                                <!--                                    Timings-->
                                                <!--                                  </button>-->

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>


                        </div>
                    </div>
                </div>


                <p>⠀</p>
            </div>
        </div>
        <div class="column01">
        </div>
    </div>
</div>
</body>