<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards</title>
</head>

<body>
  <div>
    <div>


    <div class="container">
        <div class="heading">
            Course List
        </div>

        <!--
    <div>
        <ol>

            <li>
              <button mat-raised-button (click)="openDialog()">Pick one</button>
            </li>

          </ol>

    </div>-->
  <div class="centering">
    <div class="flex-it">
    <mat-form-field class="example-form-field" appearance="fill" (keydown)="keyDownFunction($event)">
        <mat-label>Course designators</mat-label>

        <input matInput type="text" [(ngModel)]="courseFilter">
      </mat-form-field>


      <br>
<!--      <mat-form-field class="example-form-field" appearance="fill" (keydown)="keyDownFunction($event)">-->
<!--        <mat-label>Session</mat-label>-->

<!--        <input matInput type="text" [(ngModel)]="globalSession">-->
<!--      </mat-form-field>-->

      <mat-form-field appearance="fill">
        <mat-label>Session</mat-label>
        <mat-select [(value)]="globalSessionKey">
          <mat-option *ngFor="let sesNum of storedSessionsKeys" [value]="sesNum">
            {{sesNum}}
          </mat-option>
        </mat-select>
      </mat-form-field>




<!--    <button id="pleaseHelp" type="button" mat-button (click)="openHelpDialog()">-->
<!--      PLEASE HELP-->
<!--    </button>-->




</div>




  </div>
  <div class="centering">



    <div class="narrowed">

      <div *ngIf="errMessage" style="color:red">
        {{ errMessage }}
      </div>

      <p>Search for a course designator (First 3 letters of a course code), or more,
        seperated by commas (up to a maximum of 4). The heading
      color of a course represents its level. The color on the right represents
      its breadth requirement. The colors on the bottom left shows which sessions
      it is offered in.</p>

      <p>Click on the top half of a course to open its course description. Click on
      the bottom half to open up its lecture sessions.</p>

      <p>
      <strong>Keep in mind that
      the timetable info may not be the most up-to-date. The timetable
      information here was last updated in late May 2022.</strong></p>  

    </div>

  </div>

  <div class="centering">

    <p>
    <button id="basic" type="button" mat-stroked-button (click)="clicked()">
     Search
  </button>
    </p>
  </div>

        <div class="cLevel" *ngFor="let cL of splitCourseList">

            <div class="row" *ngIf="cL.length !== 0">
                <div class="card" *ngFor="let course of cL" [style.min-width]="course.infoVisible ? '40%' : '20%'">
                    <div *ngIf="course.show">
                        <div>

                        <!--COURSE INFO-->
                            <div class="card-header" [style.background-color]="course.levelColor"
                                 (click)="onCourseClicked(course)">
                                {{course.code}}

<!--                              [style.border-right-color]="course.brqColor"-->


                              <div *ngIf="course.hasOnline" class="online-bumper">
                                <mat-icon
                                [matTooltipShowDelay]="200"
                      matTooltipPosition="left"
                    matTooltip="Has online lectures"

                                >wifi</mat-icon>
                              </div>
                              <div class="brq-bumper">
                                <div *ngFor="let brC of course.brColors" class="brq-square"
                                     [style.background-color]="brC"
                                     [style.height.%]="100/course.brColors.length"
                                     [matTooltipShowDelay]="200"
                      matTooltipPosition="above"
                    matTooltip="{{course.breadthCategories}}"
                                >
<!--                                    THIS IS-->
                                </div>
                              </div>


                              <div class="session-bumper">
                                <div *ngIf="course.fallMeetings !== undefined" [style.background-color]="'LightSalmon'"
                                     class="session-square"
                                     [matTooltipShowDelay]="200"
                      matTooltipPosition="left"
                    matTooltip="offered in the fall"
                                     >

                                </div>
                                <div *ngIf="course.winterMeetings !== undefined" [style.background-color]="'LightBlue'"
                                     class="session-square"
                                     [matTooltipShowDelay]="200"
                      matTooltipPosition="left"
                    matTooltip="offered in the winter"
                                     >

                                </div>
                                <div *ngIf="course.yearMeetings !== undefined" [style.background-color]="'MediumOrchid'"
                                     class="session-square"
                                [style.min-width]="'40px'"
                                [matTooltipShowDelay]="200"
                      matTooltipPosition="left"
                    matTooltip="offered year-wide"

                                >

                                </div>
                              </div>

                            </div>
<!--                          <div (click)="onCourseClicked(course)">-->
                            <div class="card-body" (click)="openCourseDialog(course)">
                                <p class="course-name">{{course.courseTitle}}
                                </p>

                                <!-- <p>2h/week</p> -->

                                <div class="courseDescription" *ngIf="course.infoVisible">
                                    <div [innerHTML]="course.courseDescription"></div>

                                    <div *ngIf="course.prerequisite.length != 0">
                                        <div class="prq"

                                        [matTooltipShowDelay]="200"
                      matTooltipPosition="left"
                    matTooltip="You must have taken these courses before taking this one"

                                        >Prerequisite</div>
                                        <div [innerHTML]="course.prerequisite"></div>
                                    </div>

                                    <div *ngIf="course.corequisite.length != 0">
                                        <div class="prq"
                                        [matTooltipShowDelay]="200"
                      matTooltipPosition="left"
                    matTooltip="You must take or have taken these courses concurrently with this one"
                                        >Corequisite</div>
                                        <div [innerHTML]="course.corequisite"></div>
                                    </div>

                                    <div *ngIf="course.recommendedPreparation.length != 0">
                                        <div class="prq"
                                        matTooltipPosition="left"
                                        [matTooltipShowDelay]="200"
                    matTooltip="You should, but are not required to take these courses before this one">Recommended preparation</div>
                                        <div [innerHTML]="course.recommendedPreparation"></div>
                                    </div>

                                    <div *ngIf="course.exclusion.length != 0"

                                    >
                                        <div class="prq"
                                        matTooltipPosition="left"
                                        [matTooltipShowDelay]="200"
                    matTooltip="If you've passed or are concurrently taking any of these courses you can't recieve credit for this one"
                    >Exclusion</div>
                                        <div [innerHTML]="course.exclusion"></div>
                                    </div>
                                  <!-- PASS IN course.meetings -->
<!--                                  <button id="third" type="button" mat-button (click)="openCourseDialog(course)">-->
<!--                                    Timings-->
<!--                                  </button>-->

                                </div>
                            </div>
                        </div>


                    </div>

                </div>




            </div>
        </div>
    </div>


<p>⠀</p>
</div>
<app-schedule></app-schedule>
</div>
</body>
