<mat-dialog-content class="mat-typography">

<h1 id="course-list-help">Course List Help</h1>
<p>This page gives help on how to use the course list.</p>
<h2 id="searching-for-courses">Searching for courses</h2>
<p>Type in the course designators seperated by commas to search for something. Press &quot;ENTER&quot; or click &quot;Click
  me!&quot; to search.
  You may only search up the course designators: searching MAT137 won't return anything.</p>
<h2 id="course-card-contents">Course Card Contents</h2>
<ul>
  <li>Click on the top half of a card (the course code) to expand the course description.</li>
  <li>Click on the bottom of a card to open up the course lecture sections.</li>
</ul>
<p>The color on the right side of the course cards represents the breath requirements it fulfills. Specifically:</p>
<ul>
  <li><p>Creative and cultural representations (1)</p>
  </li>
  <li><p>Thought, belief, and behavior (2)</p>
  </li>
  <li><p>Society and its institutions (3)</p>
  </li>
  <li><p>Living things and their environment (4)</p>
  </li>
  <li><p>The physical and mathematical universes (5)</p>
  </li>
  <li><p>None</p>
  </li>
</ul>
<p>The color on the bottom left of each course header represents the terms it is offered in.</p>
<ul>
  <li>The course is offered in the fall.</li>
  <li>The course is offered in the winter.</li>
  <li>The course is offered year-wide.</li>
</ul>
<p>The color coding will be identical when you open up the card that shows the course&#39;s lecture sessions.</p>

  </mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()" >Close</button>
</mat-dialog-actions>
