<mat-dialog-content class="mat-typography">
  <div class="v-pad-it">
    <div class="flexith">
      <div class="margin-it" *ngFor="let sampleTab of meetingsArray;let i=index">
        <div *ngIf="sampleTab !== undefined || sampleTab === null" class="ind-tbl">
          <div class="pad-it">


            <!--  Objectives: Loop over this three times  -->
            <div>

              <table mat-table [dataSource]="sampleTab" class="mat-elevation-z8"
                     [ngClass]="{accent:true}"
                     [style.background-color]="getSessionColor(meetingsArrayType[i])[0]"

              >

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition"

                      [style.border-spacing]="'10px 0'"
                      -->

                <!-- Lecture code Column -->
                <ng-container matColumnDef="lectureCode">
                  <th mat-header-cell *matHeaderCellDef> {{lecHead}}</th>
                  <td mat-cell *matCellDef="let element"


                      [ngStyle]="{'font-weight': element.teachingMethod === 'LEC' ? 'normal' : 'normal'}">
                    {{element.teachingMethod}}{{element.sectionNumber}} </td>
                </ng-container>

                <!-- Instructor Column -->
                <ng-container matColumnDef="instructor">
                  <th mat-header-cell *matHeaderCellDef> {{insHead}}</th>
                  <td mat-cell class="width-textArea"
                      *matCellDef="let element">
                    <div class="width-limiter">{{obtainInstructors(element.instructors)}}</div>
                     </td>
                </ng-container>

                <!-- Time and Location Column -->
                <ng-container matColumnDef="time">
                  <th mat-header-cell *matHeaderCellDef> {{timeHead}}</th>
                  <td mat-cell *matCellDef="let element">
                    <!--      {{obtainSchedule(element.schedule)}}-->
                    <div class="flexit">
                      <div *ngFor="let meeting of element.schedule" class="r-chip"
                           [style.color]="getDayColor(meeting.meetingDay)[0]"
                           [style.background-color]="getDayColor(meeting.meetingDay)[1]">
                        <div class="meeting-day" [style.color]="getDayColor(meeting.meetingDay)[0]">
                          <div class="intro-content">
                            <div class="shield">
                            {{meeting.meetingDay}}
                            </div>

                          </div>
                        </div>
                        <div class="meeting-time">
                          {{trimTimes(meeting.meetingStartTime)}}-{{trimTimes(meeting.meetingEndTime)}}
                        </div>
                        <div
                          *ngIf="

                          ((meeting.assignedRoom1 !== '' || meeting.assignedRoom1 !== undefined
                           || meeting.assignedRoom2 !== '' || meeting.assignedRoom2 !== undefined))
                           "
                          class="assigned-room">

                          <div *ngIf="roomsVisible">
                          {{meeting.assignedRoom1}} {{meeting.assignedRoom2}}</div>
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <!-- Delivery Column -->
                <ng-container matColumnDef="deliveryMode">
                  <th mat-header-cell *matHeaderCellDef> {{delivHead}}</th>
                  <td mat-cell *matCellDef="let element">
                    <div class="center-it">
                    <mat-icon
                      [matTooltipShowDelay]="200"
                      matTooltipPosition="right"
                    matTooltip="{{element.online}}">{{getSyncIcon(element.deliveryMode)}}</mat-icon>
                    </div>
<!--                    {{element.deliveryMode}} -->



                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">

  <button id="fth" type="button" mat-button (click)="toggleRooms()">
    
  </button>

  <button id="third" type="button" mat-button (click)="toggleRooms()">
    Toggle rooms
  </button>
  
  <button id="closer" mat-button mat-dialog-close="">Close</button>
</mat-dialog-actions>
